{{>header}}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: white;" href="/">EquipFarm</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{# if login}}
                <li class="nav-item"><a class="nav-link" style="color: white;" href="/orders/{{user.email}}">Orders</a></li>
                <li class="nav-item"><a class="nav-link" style="color: white;" href="/cart" >Shopping Cart</a></li>
                {{# if user.isadmin}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="color: white;" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Lend<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a  style="color: black;"href="/admin/add">Add Product</a></li>
                        <li><a  style="color: black;"href="/admin/update">Update/Delete Product</a></li>
                    </ul>
                </li>
                {{/if}}
                <li class="nav-item"><a class="nav-link"style="color: white;" href="/user/logout">Logout</a></li>
                {{else}}
                <li class="nav-item"><a class="nav-link"style="color: white;" href="/cart">Shopping Cart</a></li>
                <li class="nav-item"><a class="nav-link" style="color: white;"href="/user/signin">Sign In</a></li>
                <li class="nav-item"><a class="nav-link" style="color: white;"href="/user/signup">Register</a></li>
                {{/if}}
                
            </ul>
            
                
            
            <form class="form-inline my-2 my-lg-0 form-style">
                <button type="button" class="btn btn-outline-success" id="filterBtn" data-toggle="modal"
                    data-target="#filterModal"><b>Filter</b></button>
                <input class="form-control mr-sm-2" id="searchInput" type="search" placeholder="Looking for something?"
                    aria-label="Search">
                <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="searchBtn"><b>Search</b></button>
                
            </form>
            <li>
                    <div id="google_translate_element" style="float:right;"></div>
            </li>            
            
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav> 

<script
        type="text/javascript">
              function googleTranslateElementInit() {
                     new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL }, 'google_translate_element');
              }
       </script>

<script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<div class="container">
    <h1>New Product</h1>

    <form class="admin_add_form" action="/products/add" enctype="multipart/form-data" method="post">

        <div class="form-group">
            <label for="file" class="col-sm-2 col-form-label">Upload Picture of the Equipment</label>
            <input type="file" name="file">
        </div><br>

        <div class="form-group">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <input type="text" class="form-control" placeholder="Title" name="title">
        </div>

        <div class="form-group">
            <label for="category" class="col-sm-2 col-form-label">Category</label>
            <select name="category">
                <option value="fruits">Higher End</option>
                <option value="personalcare">Lower End</option>
                <option value="vegetables">Basic Tools</option>
            </select>
        </div>

        <div class="form-group">
            <label for="image_name" class="col-sm-2 col-form-label">Image Name</label>
            <input type="text" class="form-control" placeholder="Image Name with extension" name="image_name">
        </div>

        <div class="form-group">
            <label for="price" class="col-sm-2 col-form-label">Price</label>
            <input type="text" class="form-control" placeholder="Price(Only Numbers)" name="price">
        </div>

        <div class="form-group">
            <label for="product_description" class="col-sm-2 col-form-label">Equiment Description</label>
            <textarea class="form-control" placeholder="Equiment Description" name="product_description"></textarea>
        </div>

        <div class="form-group">
            <label for="price_description" class="col-sm-2 col-form-label">Price Description</label>
            <textarea class="form-control" placeholder="Price Description" name="price_description"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info submit">Submit</button>
        </div>
    </form>

    <a href="/rent" class="btn btn-warning" role="button">Back to Main</a>
</div>

{{>footer}}